body {
    font-family:"Roboto", sans-serif;
}
.layout {
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem
}

@import "asidecontent";
@import "maincontent";
@import "rightaside";
@import "navbar";
